h3 Основна відпустка, період роботи
div.w3-responsive.w3-hoverable.w3-border
    table.w3-table-all.w3-centered.w3-striped.w3-border
        tr
        th
        th Прізвище
        th Ім'я
        th По-батькові
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
            th В-а #{val}
        tr
        th Підстава надання
        td Jill
        td Smith
        td M
        each _ in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
            td 50
        //- each row in data
        //-     tr
        //-         tr
        //-         th Підстава надання
        //-         td= row.lastName
        //-         td= row.firstName
        //-         td= row.patronymic
        //-         each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
        //-             td= row['field' + val]
        tr
        th Період з
        td Eve
        td Jackson
        td J
        each _ in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
            td 94
        tr
        th Період по
        td Adam
        td Johnson
        td O
        each _ in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
            td 67
        tr
        th Кількість днів
        td Adam
        td Johnson
        td O
        each _ in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
            td 67
h3 Залишок на 2022
div.w3-responsive.w3-hoverable.w3-border
    table.w3-table-all.w3-centered.w3-striped.w3-border
        tr
        th /
        th Прізвище
        th Ім'я
        th По-батькові
        th В-а 1
        th В-а 2
        th В-а 3
        th В-а 4
        th В-а 5
        th В-а 6
        th В-а 7
        th В-а 8
        th В-а 9
        th В-а 10
        th В-а 11
        th В-а 12
        th В-а 13
        th В-а 14
        th В-а 15
        tr
        th Підстава надання
        td Jill
        td Smith
        td M
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        tr
        th Період з
        td Eve
        td Jackson
        td J
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        tr
        th Період по
        td Adam
        td Johnson
        td O
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        tr
        th Кількість днів
        td Adam
        td Johnson
        td O
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
h3 Залишок на 2021
div.w3-responsive.w3-hoverable.w3-border
    table.w3-table-all.w3-centered.w3-striped.w3-border
        tr
        th /
        th Прізвище
        th Ім'я
        th По-батькові
        th В-а 1
        th В-а 2
        th В-а 3
        th В-а 4
        th В-а 5
        th В-а 6
        th В-а 7
        th В-а 8
        th В-а 9
        th В-а 10
        th В-а 11
        th В-а 12
        th В-а 13
        th В-а 14
        th В-а 15
        tr
        th Підстава надання
        td Jill
        td Smith
        td M
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        td 50
        tr
        th Період з
        td Eve
        td Jackson
        td J
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        td 94
        tr
        th Період по
        td Adam
        td Johnson
        td O
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        tr
        th Кількість днів
        td Adam
        td Johnson
        td O
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67
        td 67